body {
  padding: 10px;
}

.header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 10px;
}

.header .active {
  background-color: aquamarine;
  color: black;
  padding: 5px 10px;
}

.text-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
